# -*- coding: utf-8 -*-
"""
	{{ project_name }} main
"""

import datetime

from {{ project_name }} import db, app
from flask import render_template, flash, redirect, url_for, request, session, current_app



@app.route("/")
def home():
    """
        Home
    """
    return "Hi. This is the project: {{ project_name }}"
