-- SQL setup

-- CREATE TABLE IF NOT EXISTS table1 (
--   id INTEGER PRIMARY KEY NOT NULL AUTOINCREMENT,
--   field1 TEXT NOT NULL,
--   field2 VARCHAR(100) NOT NULL,
--   field3 TEXT NOT NULL
-- );

-- CREATE TABLE IF NOT EXISTS table2 (
--   id INTEGER PRIMARY KEY NOT NULL AUTOINCREMENT,
--   table1_id INTEGER,
--   field1 VARCHAR(100) NOT NULL,
--   field2 TEXT NOT NULL,
--   FOREIGN KEY (table1_id) REFERENCES table1(id)
-- );

